* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #f4f4f4;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

button {
  border: none;
}

h1, h2, h3, h4 {
  font-weight: 600;
  line-height: 120%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}
